{% load static %}
{% include 'top.html' %}
{% include 'logoutPart.html' %}
{% include 'hiUser.html' %}
<body>
    <div class="title text-center">
        <h1>Create Your Blog-Post</h1>
        <hr>
    </div>
    <div class="text-center">
        <div class="form">
            <form action="{% url 'CreateBlog' %}" method="post" autocomplete="off" class="text-center">
                {% csrf_token %}
                <textarea name="title" id="title" cols="100" rows="2" placeholder="Enter Blog Title" class="p-3 "></textarea>
                <br>
                <textarea name="body" id="body" cols="100" rows="15" placeholder="Enter Blog-Body" class="p-3 m-1"></textarea>
                <br>
                <input type="submit" value="Submit" class="btn btn-dark">
            </form>
        </div>
    </div>

</body>
{% include 'bottom.html' %}