{% if blogs.has_other_pages %}
    <nav>
      <ul class="pagination justify-content-center">
        {% if blogs.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ blogs.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&laquo;</span>
          </li>
        {% endif %}

        {% for p in blogs.paginator.page_range %}
          {% if blogs.number == p %}
            <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'paginatedListBlog' page=p %}">{{ p }}</a></li>
          {% endif %}
        {% endfor %}

        {% if blogs.has_next %}
          <li class="page-item">
            <a class="page-link" href="{% url 'paginatedListBlog' page=blogs.next_page_number %} " aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&raquo;</span>
          </li>
        {% endif %}
    </ul>
    </nav>
  {% endif %}