{% include 'top.html' %}
<body>
  {% include 'logoutPart.html' %}
  {% include 'hiUser.html' %}
  <div class="container">
    <div class="header text-center">
      <h1 style="font-weight: bold; font-size: 3rem;font-family: 'Lora', serif;"><b>Blogs</b> </h1>
      <hr>
    </div>
    <div class="list-group">
      {% for blogPost in blogs %}
      <a
        href="{{ blogPost.get_absolute_url }}"
        class="list-group-item list-group-item-action m-1 contentList"
      >
        <div class="text-end">
          <b>{{ blogPost.createdOn }}</b>
        </div>
        <div class="text-start">
          <b>{{ blogPost.title | safe }}</b>
        </div>
        
        <hr>
        {{ blogPost.body | truncatechars:70 | safe}}
        <div class="text-end">
          <b>- {{ blogPost.createdBy.username }}</b>
        </div>
        
      
      </a>
      {% endfor %}
    </div>
  </div>
  {% include 'createBlogButton.html' %}
  {% include 'pageNavigation.html' %}
</body>

<style>
  .contentList {
    height: 90%;
    background: rgba(14,22,12,0.8);
    color:white;
    margin-top: 5vh;
    border-radius:0.5rem;
  }
 
</style>
{% include 'bottom.html' %}
